[submodule "libs/ft_libbmp"]
	path = libs/ft_libbmp
	url = https://github.com/librity/ft_libbmp
[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/librity/ft_libft
[submodule "libs/minilibx-linux"]
	path = libs/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux
